@import './App.scss';

.task {
    @include yo-flex();
    align-items: center;

    .icon {
        width: 20px;
        height: 20px;
        @include yo-flex(0%);
        border: none;

        &:hover{
            background-color: chartreuse;
        }

        img {
            width: 20px;
            height: 20px;
        }
    }

    .crossed{
        text-decoration: line-through;
    }
}

