.task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;


    .icon {
        width: 20px;
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            width: 20px;
            height: 20px;
        }
    }
}